/* common utilities */
/* goole fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

.titles-design{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 700;
}

.desc-design{
    color: #787885;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

/* top-nav */
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 60px;
}

.logo{
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    text-transform: capitalize;
    font-family: poppins;
}

nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    
}

/* banner-designs */
.banner-designs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.banner-content .banner-title{
    font-size: 50px;
    line-height: 1.3;
    padding: 10px 15px;
    font-size: 2.5rem;
}

.banner-content .banner-desccription{
    font-weight: 600;
    color: #3A3A3A;
    text-align: left;
    padding: 10px 15px;
    width: 80%;
    font-size: 1rem;
}

.banner-content .btn{
    background-color: #E02C6D;
    text-transform: capitalize;
    border: none;
    padding: 10px 15px;
    margin: 10px 15px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    font-family: poppins;
    text-align: center;
    cursor: pointer;
}

.banner-thumbnail{
    border-radius: 50%;
    border: 1px solid #EAE3F2;
    padding: 20px;
}

.banner-thumbnail img{
    width: 100%;
}

/* brands */

.brands{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #E7ECF1;
    border-bottom: 1px solid #E7ECF1;
    padding: 10px 0;
}

/* popular-collection */

.popular-collection{
    margin-top: 50px;
}

.collection-title{
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5rem;
}

.all-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    padding: 15px 15px;
    box-shadow: 6px -1px 32px -14px rgb(0 0 255 / 20%);
    column-gap: 12%;
    margin: 13px;
    border-radius: 5px;
}


@media only screen and (max-width: 576px) {

    .top-nav{
        flex-direction: column;
        padding: 10px 0px;
        text-align: center;
    }

    .logo{
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
        
    }

    .banner-designs{
        flex-direction: column-reverse;
    }
    .banner-content{
        padding: 10px 15px;
    }
    .brands{
        width: 100%;
        display: flex;
        gap: 15px;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 15px;
    }

    .brands img{
        width: 100%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 800px) {
    .top-nav{
        flex-direction: column;
    }

    .brands{
        width: 80%;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 15px;
    }
}